<div class="col-sm-4 offset-md-1 py-4">
    <h4 class="text-white">Меню</h4>
    <ul class="list-unstyled">
        <li><a href="/" class="text-white">Главная</a></li>
        <li><a href="/contacts/" class="text-white">Контакты</a></li>
        <li><a href="/categories/" class="text-white">Категории</a></li>
        <li><a href="/blog/" class="text-white">Блог</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'users:logout' %}" class="text-white">Выйти</a></li>
            {% if user.avatar  %}
                 <li><a href="{% url 'users:profile' %}" class="text-white">Профиль: <font color="green" size='3'>{{ user }}</font> <img src="{{ user.avatar.url }}" alt="Avatar" width="30" height="30"></a></li>
            {% else %}
                <li><a href="{% url 'users:profile' %}" class="text-white">Профиль: <font color="green" size='3'>{{ user }}</font></a></li>
            {% endif %}
        {% else %}
            <li><a href="{% url 'users:register' %}" class="text-white">Регистрация</a></li>
            <li><a href="{% url 'users:login' %}" class="text-white">Войти</a></li>
        {% endif %}
    </ul>
</div>
