{% extends 'main/base.html' %}
{% load mediapath %}

{% block content %}

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <h3 class="card-title">{{ object.title }} ({{ object.slug}})</h3>
                <small class="text-body-secondary">Дата публикации: {{ object.create_date|date:'d-m-Y H:i:s' }}</small><br><br>
                <img class="card-img-top"
                    src="{% mediapath object.image %}"
                    alt="Card image cap">
                <strong>Описание:</strong>
                <ul>
                    <li>{{ object.content }}</li>
                </ul>
                <strong>Количество просмотров: {{ object.count }}</strong>
            </div>
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>


{% endblock %}