{% extends 'main/base.html' %}

{% block content %}
<div class="col-md-6">
    <div class="card mb-4 rounded-3 box-shadow">
         <div class="card-header py-3">
             {% csrf_token %}
             {% for contact in contacts %}
            <h4 class="my-0 font-weight-normal">{{ contact.name }}</h4>
        </div>
        <ul class="list-group">
            <li class="list-group-item text-center">
                <h5>Email</h5>
                <p>{{ contact.email }}</p>
            </li>
            <li class="list-group-item text-center">
                <h5>Номер телефона</h5>
                <p>{{ contact.phone_number }} </p>
            </li>
            <li class="list-group-item text-center">
                <h5>Адрес</h5>
                <p>{{ contact.address }}</p>
            </li>
             {% endfor %}
        </ul>
    </div>
</div>
<div class="col-md-4 offset-md-2">
    <div class="card mb-4 rounded-3 box-shadow">
        <div class="card-header py-3">
            <h4 class="my-0 font-weight-normal">Свяжитесь с нами</h4>
        </div>
        <div class="card-body">
            <form method="post" action="" class="form-floating">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="name">Имя</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя" required>
                </div>
                <div class="mb-3">
                    <label for="phone">Телефон</label>
                    <input type="text" name="phone" class="form-control" id="phone" placeholder="Контактный телефон" required>
                </div>
                <div class="mb-3">
                    <label for="message">Сообщение</label>
                    <input type="text" name="message" class="form-control" id="message" placeholder="Напишите ваш запрос" required></input>
                </div>
                <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Отправить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}