
{% extends 'main/base.html' %}

{% block content %}
{% load mediapath %}
<div class="row">
{% for object in object_list %}
<div class="col-md-4">
  <div class="card mb-4 box-shadow">
    <div class="card-body">
      <img src="{% mediapath object.image %}" width="200" height="200" alt="">
      <p class="card-text">Название: {{ object.name }}</p>
      <p class="card-text">Описание: {{ object.description|slice:":100" }}</p>
      <p class="card-text">Цена {{ object.price }}руб.</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">Купить</button>
          <button type="button" onclick="window.location.href = '/product/';" class="btn btn-sm btn-outline-secondary">Подробнее</button>
        </div>
        <small class="text-muted">{{ object.create_date }}</small>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>

{% endblock %}