{% extends 'main/base.html' %}

{% block content %}

<div class="col-12">
  <div class="row">
    <div class="col-7">
      <div class="card">
        <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            {{ version_formset.management_form }}
            {% for form in version_formset %}
              {{ form.as_table }}
            {% endfor %}

            <button type="submit" class="btn btn-success">
              {% if object %}
                Сохранить
              {% else %}
                Создать
              {% endif %}
            </button>
           {% if perms.catalog.view_product %}
                {% if object.is_published %}
                  <a class="p-1.5 btn btn-outline-danger" href="{% url 'main:toggle' object.pk %}">Снять с публикации</a>
                {% else %}
                  <a class="p-1.5 btn btn-outline-success" href="{% url 'main:toggle' object.pk %}">Опубликовать</a>
                {% endif %}
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}